*{
  margin: 0;
  padding: 0;
}

.navbar{
  color: black;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 30px;
  width: 100%;
  border: none;;
}

.listItems{
  float: right;
  padding-bottom: 20px;
  padding-top: 20px;
}
.listItems a{
  text-decoration: none;
  color: inherit;
 
}

.home{
  background-color: rgb(41, 88, 150);
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 18px;
  padding-right: 18px;
  color: white;
  border-radius: 20px;
  transition: box-shadow 0.25s;
}
.home:hover{
  box-shadow: 10px 10px 10px rgba(144, 184, 236, 0.3);
}
.Aboutus{
  border: 1px solid rgb(249, 35, 35);
  color: rgb(249, 35, 35);
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 20px;
  transition: box-shadow 0.25s;
}
.Aboutus:hover{
  box-shadow: 10px 10px 10px rgba(249, 35, 35, 0.3);
 
}
.Support{
  border: 1px solid rgb(3, 255, 100);
  color: rgb(3, 255, 100);
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 20px;
  transition: box-shadow 0.25s;
}
.Support:hover{
  box-shadow: 10px 10px 10px rgba(3, 255, 100, 0.3);
}
.contactus{
  border: 1px solid rgb(255, 7, 205);
  color: rgb(255, 7, 205);
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 20px;
  transition: box-shadow 0.25s;
}
.contactus:hover{
  box-shadow: 10px 10px 10px rgba(255, 7, 205, 0.3);
}

.textArea{
  text-align: justify;
  color: rgb(125, 123, 123);
  margin-top: 50px;
  font-family: arial;
}
.textArea h2{
  color:  rgb(80, 2, 2);
  /* padding-left: 190px; */
  padding-bottom: 17px;
  font-weight: bold;
}

.postImg{
  
  margin-top: 50px;
  
}
.postImg img{
  cursor: pointer;
  height: 100% auto;
  max-height: 400px;
  border-radius: 30px;
  transition: transform 0.25s;
}
.postImg img:hover{
  transform: scale(1.1);
  /* margin-bottom: 15px; */
}

.testiheading{
  padding-right: 90px;
}
.testimonial-container{
  margin-left: 20px;

}
/* .testiheading{
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 50px;
} */

/* .usertesti{
  margin-top: 50px;
}
.usertesti img{
  width: 150px;
  border-radius: 30px;
  
} */

.usertesti {
  margin: 5px;
  font-size: 14px;
  font-weight: bold;
  padding-left: 10px;
}


.fottersection{
  background-color: rgb(87, 87, 85);
  overflow: hidden;
  float: left;
  margin-top: 40px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 30px;
  padding-bottom: 110px;
}
.fottersection:hover{
  /* box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3); */
  cursor:text !important;
  text-decoration: none !important;
}
.fottersectext{
  /* align-items: center;
  text-align: center; */
  /* font-size: ; */
  padding-top: 40px;
  width: 550px;
  margin: 20px auto;
  cursor: pointer;
  font-size: 20px;
  
  
  
}
.fottersectext:hover{
  /* box-shadow: 5px 10px 10px rgb(222, 23, 23); */
  color: rgb(47, 15, 65);
  text-decoration: underline;
}
a{
  text-decoration: none;
  color: inherit;
}

 .secndpost{
  margin-top: 50px;
  
 }
 
 
 .secondimg{
  width: 100%;
  max-width: 600px;
  border-radius: 30px;
  vertical-align: auto;
  cursor: pointer;
  transition: transform 0.25s;
 }
 .secondimg:hover{
  transform: scale(1.1);
  /* margin-bottom: 15px; */
 }

 .secndpostText{
  text-align: justify;
  width: 500px;
  color: rgb(125, 123, 123);
  margin-right: 80px;
  vertical-align: top;
 }
 .secndpostText h4{
  text-align: center;
  padding-bottom: 17px;
  color: rgb(40, 103, 155);
  font-size: 25px;
 }
.privacypolicy{  
  /* font-size: 20px; */
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 16px;
  /* display: inline; */
  /* text-align: center; */
  /* display: inline-block; */
  /* overflow: hidden; */
  /* margin-left: 100px; */
  /* margin-left: 10px; */
  width: 150px;
  margin: 20px auto;
}
.privacypolicy:hover{
  color: rgb(114, 18, 18);
  text-decoration: underline;
}

  .form-section{
    width: 100%;
    max-width: 200px;
    margin: 20px auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .form-section input{
    padding: 6px;
    border-radius: 15px;
    border-style: none;
    width: 100%;
    max-width: 190px;
  }
  .form-section label{
    color: rgb(4, 90, 118);
    display: block;
    font-size: 17px;
    padding-bottom: 5px;
    padding-left: 5px;
  }
 
  .submit-button{
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 06px;
    padding-bottom: 06px;
    font-size: 12px;
    background-color: rgb(4, 90, 118);
    border: none;
    color: wheat;
    border-radius: 15px;
    margin-left: 55px;
    cursor: pointer;
    transition: 0.25s, box-shadow 0.25s;
    
  }
  .submit-button:hover{
    opacity: 0.6;
    box-shadow: 10px 10px 10px black;
  }
  .submit-button:active{
    opacity: 0.1;
  }

  .custome-img{
    cursor: pointer;
    transition: transform 0.25s, margin-bottom 0.25s;
    color: black;
  }
  .custome-img:hover
  {
    transform: scale(1.1);
    margin-bottom: 15px;
  }
  .testimonial-container{
    margin: auto;
  }