html , body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body {
    background-image: url("./img/img\ 3\ background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

.arrow-img {
    border-radius: 100px;
    transition: transform 0.125s;
}

.arrow-img:hover {
    transform: scale(1.15);
}

.logo {
    display: inline-block;
    margin-left: 50px;
    margin-top: 2px;
}

.logo img {
    width: 70px;
    display: inline;
    border-radius: 20px;
}

.navbar-second{
    background-color: #181717;
    color: #fff;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgba(51, 49, 49, 0.9);
}

.ul-navbar {
    list-style: none;
    display: flex;
    float: right;
   
}

.navbar-second a {
    text-decoration: none;
    color: white;
}

.btn-h {
    list-style: none;
    display: flex;
    float: right;
    background-color: #43612b;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    margin-right: 5px;
    transition: transform 0.5s , margin-right 0.5s;
}

.btn-h:active {
    opacity: 0.8;
}

.btn-h:hover {
    transform: scale(1.25);
    margin-right: 20px;
}

.btn-periodic {
    background-color: #d81e7b;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    margin-right: 5px;
    transition: transform 0.5s , margin-right 0.5s , margin-left 0.5s;
}
.btn-periodic:hover{
    transform: scale(1.25);
    margin-right: 20px;
    margin-left: 15px;
}

.btn-resume {
    background-color: #f38773;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    margin-right: 5px;
    transition: transform 0.5s , margin-right 0.5s , margin-left 0.5s;
}


.btn-resume:hover{
    transform: scale(1.25);
    margin-right: 20px;
    margin-left: 15px;
}

.btn-form {
    background-color: #7e8af5;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    margin-right: 5px;
    transition: transform 0.5s , margin-right 0.5s , margin-left 0.5s;
}
.btn-form:hover{
    transform: scale(1.25);
    margin-right: 20px;
    margin-left: 15px;
}

.file-review-sec h1 {
    text-align: center;

}

.main-p {
    width: 480px;
    margin: 10px auto;
    text-align: center;
    font-size: 21px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.sec-sec {
    width: 900px;
    margin: auto;
}

.sec-sec h1 {

    width: 400px;
    margin: auto;
    font-size: 20px;
}

.first-detail-h3 {
    width: 150px;
    margin: auto;
    text-align: center;
}

.second-detail-h3 {
    width: 150px;
    margin: auto;
    text-align: center;
}

.third-detail-h3 {
    width: 150px;
    margin: auto;
    text-align: center;
}

.fourth-detail-h3 {
    width: 180px;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}

.details-sec {
    margin-top: 25px;
}

.sec-sec img {
    margin-top: 20px;
    max-width: 200px;
    margin-left: 350px;
}

.nav-sec {
    width: 600px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.step-1 {
    background-color: rgba(0, 128, 0, 0.682);
    border: none;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 39px;
    padding-right: 39px;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    transition: box-shadow 0.25s;
}

.step-1:active {
    opacity: 0.7;
}

.step-1:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.step-2 {
    background-color: rgba(128, 30, 0, 0.699);
    border: none;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 39px;
    padding-right: 39px;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    transition: box-shadow 0.25s;
}

.step-2:active {
    opacity: 0.7;
}

.step-2:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.step-3 {
    background-color: rgba(20, 41, 48, 0.692);
    border: none;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 39px;
    padding-right: 39px;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    transition: box-shadow 0.25s;
}

.step-3:active {
    opacity: 0.7;
}

.step-3:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.b-n {
    width: 120px;
    cursor: pointer;
    margin-top: 22px;
    transition: transform 0.125s;
}

.b-n:active {
    opacity: 0.8;
}

.b-n:hover {
    transform: scale(1.15);
}

fieldset {
    width: 100%;
    max-width: 600px;
    font-size: 18px;
    margin: auto;
    margin-bottom: 300px;
}

.cus-label {
    display: block;
    font-size: 20px;

}

.cus-input {
    width: 100vw;
    max-width: 550px;
    font-size: 15px;
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(126, 114, 92);

}

.cus-label {
    margin-top: 20px;
}

.cnic-label {
    display: block;
    margin-top: 20px;
    font-size: 20px;
}

.cnic-input {
    width: 15px;
    font-size: 15px;
}

.radio-label-visit {
    display: block;
    margin-top: 20px;
    font-size: 20px;
}



.cus-container {
    max-width: 1200px;
    margin: 30px auto;
    background-image: url("./img/ChatGPT\ Image\ Apr\ 23\,\ 2025\,\ 12_51_16\ AM.png");
  
}

.title {
    background: yellow;
    text-align: center;
    font-size: 48px;
    margin: 0;
    padding: 20px;
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
    margin: auto;

}

td {
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #252424;
    font-weight: bold;


}

.empty {
    border: none;
    background: none;
}

table {
    border-collapse: collapse;
    margin: auto;

}

td {

    border: 1px solid #070707;
    padding: 10px;
    width: 60px;
    height: 60px;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    transition: transform 0.2s;
    cursor: pointer;
}

td:hover {
    transform: scale(1.20);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}


.empty {
    border: none;
    background-color: transparent;
}


.nonmetal {
    background-color: #aee1f9;
}

.halogen {
    background-color: #ffb347;
}

.noble-gas {
    background-color: #c49ddb;
}

.alkali-metal {
    background-color: #ff9999;
}

.alkaline-earth-metal {
    background-color: #ffcc99;
}

.metalloid {
    background-color: #d1ffb0;
}

.transition-metal {
    background-color: #d3d3d3;
}

.post-transition {
    background-color: #f0e68c;
}

.lanthanoid {
    background-color: #ffc0cb;
}

.actinoid {
    background-color: #dda0dd;
}

.unknown {
    background-color: #eeeeee;
    color: #999;
}

.resume-container{
    max-width: 1300px;

    margin: 20px  auto;
    height: 100vh;
}

.resume-content{
    border-top-right-radius: 60px ;
    border-bottom-left-radius: 60px ;
    border-bottom-right-radius: 15px ;
    border-top-left-radius: 15px ;
    background-color: #a66715a7;
    width: 100%;
    max-width: 370px;
    display: inline-block;
    color: rgb(31, 19, 19);
    padding-left: 20px;
}
.contain-resu{
    border-top-right-radius: 15px ;
    border-bottom-left-radius: 15px ;
    border-bottom-right-radius: 60px ;
    border-top-left-radius: 60px ;
    background-color: #5a042c83;
    width: 100%;
    max-width: 370px;
    display: inline-block;
    color: rgb(31, 19, 19);
    padding-left: 20px;
}
.con-resu{
    border-top-right-radius: 60px ;
    border-bottom-left-radius: 60px ;
    border-bottom-right-radius: 15px ;
    border-top-left-radius: 15px ;
    background-color: #495706a6;
    width: 100%;
    max-width: 370px;
    display: inline-block;
    color: rgb(31, 19, 19);
    padding-left: 20px; 
}
.c-r{
    border-top-right-radius: 15px ;
    border-bottom-left-radius: 15px ;
    border-bottom-right-radius: 60px ;
    border-top-left-radius: 60px ;
    background-color: #4d15a695;
    width: 100%;
    max-width: 370px;
    display: inline-block;
    color: rgb(31, 19, 19);
    padding-left: 20px; 
}
.re-cnotain{
    border-top-right-radius: 60px ;
    border-bottom-left-radius: 60px ;
    border-bottom-right-radius: 15px ;
    border-top-left-radius: 15px ;
    background-color: #dcf80a93;
    width: 100%;
    max-width: 370px;
    display: inline-block;
    color: rgb(31, 19, 19);
    padding-left: 20px; 
    margin-bottom: 50px;
}

.resume-img{

   width: 100%;
   max-width: 390px;
    float: right;
    height: 249px;
    
}
.sec-img{
   width: 150px;
    border-radius: 50px;
    margin-left: 100px;
    margin-top: 40px;
    cursor: pointer;
    transition: transform 0.125s;
}
.sec-img:hover{
    transform: scale(1.15);
    
}
